#root{
    max-width: auto;
    margin: 0 auto;
  }
  
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
footer{
    margin-top: 80px;
    background: #0F0C22;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}


.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 20%;
    text-align: center;
}

.footer-col-3{
    flex-basis: 12%;
}

.container > div{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa {
    padding: 5px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}